<%- include("header") -%>
     <div class="box" id="heading">
        <h1><%= listTitle %> </h1>
     </div>
    
     <div class="box">
            
            <% for(var i=0;i<todolist.length;i++){ %>
             <form action="/delete" method="post">
               <div class="item">
                <input type="checkbox" name="checkbox" onchange="this.form.submit()" value="<%= todolist[i]._id %>">
                <p> <%= todolist[i].data  %></p> 
            </div>
            <input type="hidden" name="lname" value="<%= listTitle %>">
         </form>
           <% } %>
        
           <form class="item" action="/" method="post">
            <input type="text" name="item" placeholder="New Item" autocomplete="off">
            <button type="submit" name="submit" value="<%=listTitle %>">+</button>
            
          </form>
     </div>
     <div class="box" id="heading2">
     <form class="items" action="" method="dialog" onsubmit="help()">
      <input type="text" name="item1"  id="item1" placeholder="Enter List Name" autocomplete="off" value="">
      <button type="submit" name="submit1" >GO</button>
      
    </form>
  </div>
     <%- include("footer") -%>
</body>
<script type="text/javascript">
  function help(){
    var x="/";
    x+=document.getElementById("item1").value;
    window.location.href=x;
  }
</script>
</html>